<link rel="apple-touch-icon" href="{{ "favicon_io/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/svg+xml" sizes="192x192"  href="{{ "favicon_io/favicon.svg"  | relURL }}">
<link rel="icon" sizes="32x32" href="{{ "favicon_io/favicon-32x32.ico" | relURL }}">
<link rel="icon" type="image/svg+xml" sizes="96x96" href="{{ "favicon_io/favicon.svg" | relURL }}">
<link rel="icon" type="image/svg+xml" sizes="16x16" href="{{ "favicon_io/favicon.svg" | relURL }}">
<link rel="manifest" href="{{ "favicon_io/manifest.json" | relURL }}">
<meta name="msapplication-TileColor" content="#FFFAF3">
<meta name="msapplication-TileImage" content="{{ "favicon_io/ms-icon-144x144.png" | relURL }}">
<meta name="theme-color" content="#FFFAF3">
